# node
node_modules/

# .env
.env

# DS_Store
.DS_Store

# debugger
.vscode

# test files
test/
server/routes/test_route.js

# assets
public/admin/assets
public/admin/icons
public/admin/images
public/admin/plugins
public/admin/js/plugins-init
public/admin/js/dashboard