/* The switch - the box around the slider */
#chart_widget_2 {
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #ffbe0d;
}

input:focus+.slider {
  box-shadow: 0 0 1px #ffbe0d;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.map-card {
  position: relative;
  display: block;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  height: 600px;
}

.map-body {
  /* flex: 1 1 auto; */
  /* padding: 1.25rem; */
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 600px;
}

/* .map-card .map-body {
  padding: 1.88rem 0;
} */

#poi-card {
  margin-top: 20px;
}

#map {
  width: 100%;
  height: 100%;
  min-height: 500px;
  position: absolute;
  overflow: hidden;
  /* z-index: 1 !important; */
}

#loading-map {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  min-height: 500px;
  height: 100%;
  margin-top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

#loading-map img {
  width: 15%;
}

#poi_card {
  margin: 1rem 0 0;
}

#infowindow-content {
  width: 200px;
  height: 140px;
  letter-spacing: 1px;
  line-height: 1;
  margin-top: 8px;
  margin-left: 3px;
}

#infowindow-content p {
  margin-bottom: 0;
}

/* round-button */

.round-button {
  width: 30px;
  display: inline-block;
  align-items: center;
}

#next {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;
  background: #ffd52e;
  color: #FFFFFF;
  font-size: 0.8rem;
  text-align: center;
}

#next:hover {
  background: #ffbb00;
}

#remove-shape {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 50%;
  overflow: hidden;
  background: #999999;
  color: #FFFFFF;
  font-size: 1rem;
  text-align: center;
}

#remove-shape:hover {
  background: #555555;
}

.round-button a {
  display: block;
  float: left;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  text-align: center;
  color: #FFFFFF;
  font-family: Verdana;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

/* dropdown */

#map_city, #map_town {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  margin: 0.125rem 0 0;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #361cc1;
  border-color: #361cc1;
  width: 100px;
}

#no-report-yet {
  width: 100%;
  display: block;
  font-family: Montserrat-Medium;
  font-size: 16px;
  color: #999999;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 20px;
}

#dashboard-icon:hover {
  color:#ffbe0d !important;
}

.geoColor-1 {
  background-color: #ff595e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.geoColor-2 {
  background-color: #ffca3a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.geoColor-3 {
  background-color: #7fb800;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.geoColor-4 {
  background-color: #1982c4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}